@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1682830751215') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 21px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\f01af";
}

.icon-weixin:before {
  content: "\f0106";
}

.icon-csdn:before {
  content: "\e60a";
}

.icon-zhihu:before {
  content: "\e69a";
}

.icon-github:before {
  content: "\e628";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-email-fill:before {
  content: "\e856";
}

.icon-bilibili:before {
  content: "\e546";
}

